html
	header
		title Welcome
		
	body
		h3 Welcome to my homepage
		if(success_msg)
			p=success_msg 
		p Do you have account ?
		a(href="/users/register") Đăng Ký
		p 			
		a(href="/users/login") Đăng nhập